* {
  font-family: kanit;
}
img {
  width: 600px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  padding: 15px;
}
p {
  color: #6f1a07;
}
h2 {
  color: #6f1a07;
  font-weight: bold;
  font-style: italic;
}
.maininfo {
  border-top: solid 2px #6f1a07;
  border-bottom: solid 2px #6f1a07;
  float: left;
}
hr {
  background-color: #6f1a07;
  border: solid 1px #6f1a07;
  height: 1px;
}

h3 {
  color: #6f1a07;
}
.rust {
  padding-bottom: 20px;
}
.r6 {
  width: 999x;
}

.r6 {
  width: 999x;
}