.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #14213d;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gameCard {
  background-color: #e5e5e5;
  padding: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;

}

.gameCard img {
    width: 400px;
    border: thick solid #FCA311;
}

.gameCard ul {

  color: #000;
  padding-top: 5px;
}

.gameCardImg {
  text-align: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3;
}
.seven {
  grid-column: 1;
  grid-row: 4;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}

/* Navbar Styles */

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecf0f1;
}

#logo {
  width: 200px;
}

#title {
  margin-right: auto;
  color: #6f1a07;
  font-size: 3.5em;
  transform: translateX(-35px);
  font-family: kanit;
}

.nav-container {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0px 15px;
  background-color: #6f1a07;
  /* color: #f7f3e3; */
  color: #ecf0f1;
  padding: 5px;
  border-top-right-radius: 8px;
}

.nav-item:hover {
  background-color: #bd803b;
  cursor: pointer;
}

/* Dropdown styles */

ul {
  overflow: hidden;
  list-style-type: none;
  padding: 0px;
}

li a,
.dropDownBtn {
  color: white;
  text-align: center;
  padding: 7px 16px;
}

li.dropdown {
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #bd803b;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Make the dropdowns align with their parent */
.dropdownContent:nth-child(2) {
  max-width: 154px;
  transform: translateX(-5px);
}

#modernGameDropdown {
  max-width: 233px;
  transform: translateX(-5px);
}

#indieGameDropdown {
  max-width: 116px;
  transform: translateX(-5px);
}

.dropdownContent a {
  display: block;
}

.dropdownContent a:hover {
  background-color: #6f1a07;
}

li.dropdown:hover .dropdownContent {
  display: block;
}

a {
  text-decoration: none;
}
