.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #14213d;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-items: center;
}

.gameCard {
  background-color: #e5e5e5;
  padding: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 40px;
  width: 650px;
  font-family: 'Raleway', sans-serif;
}

.gameCard img {
    width: 400px;
    border: thick solid #FCA311;
}

.gameCard ul {
  color: #000;
  padding-top: 5px;
  list-style: none;
}

.gameCardImg {
  text-align: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3;
}
.seven {
  grid-column: 1;
  grid-row: 4;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}

/* Navbar Styles Start */
      #main {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
        float: right;
      }

      #main > li {
        position: relative;
        font-size: 1em;
        font-family: sans-serif;
        width: 150px;
        text-align: center;
        background-color: #6f1a07;
        padding: 7px 5px;
        border: solid thin #f7f3e3;
        border-collapse: collapse;
        float: left;
        border-top-right-radius: 20px;
        margin-left: 15px;
      }

      #main > li:last-child {
        margin-right: 15px;
      }

      #main li > ul {
        position: absolute;
        width: 100%;
        top: 100%;
        display: none;
        background-color: #6f1a07;
        transform: translateX(-3.2%);
        z-index: 1000;
      }

      #main ul {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 20px;
      }

      #main ul li {
        text-align: center;
        background-color: #a8763e;
        padding: 10px;
        border: solid thin #f7f3e3;
        border-collapse: collapse;

      }

      #main > li:hover > ul {
        display: block;
      }

      a {
        text-decoration: none;
        font-family: kanit;
        color: #ecf0f1;
      }

      header a:hover {
        color: #2b2118;
        font-weight: bold;
      }
      /* Navbar Styles */

      h2 {
        margin-bottom: 10px;
        font-family: 'Bebas Neue', sans-serif;
      }
p {
  color: #6f1a07;
}
h2 {
  color: black;
  font-weight: bold;
  font-style: italic;
}
.maininfo {
  border-top: solid 2px #6f1a07;
  border-bottom: solid 2px #6f1a07;
  float: left;
  font-family: 'Raleway', sans-serif;
}
hr {
  background-color: #6f1a07;
  border: solid 1px #6f1a07;
  height: 1px;
}
.vlr {
  border-left: 2px solid #6f1a07;
  height: 280px;
  position: absolute;
  left: 40%;
  margin-left: 3px;
  top: 0;
  margin-top: 222px;
}
h3 {
  color: black;
}
.rust {
  padding-bottom: 20px;
}