.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #7d8491;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.gameCard {
  background-color: #574B60;
  padding: 20px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;

}

.gameCard img {
    width: 400px;
    border: thick solid #c0c5c1;
}

.gameCard ul {

  color: #EAF0CE;
  padding-top: 5px;
}

.gameCardImg {
  text-align: center;
}

.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 1;
}
.three {
  grid-column: 1;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 1;
  grid-row: 3;
}
.six {
  grid-column: 2;
  grid-row: 3;
}
.seven {
  grid-column: 1;
  grid-row: 4;
}
.eight {
  grid-column: 2;
  grid-row: 4;
}

/* Navbar Styles Start */
      #main {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 0;
        float: right;
      }

      #main > li {
        position: relative;
        font-size: 1em;
        font-family: sans-serif;
        width: 150px;
        text-align: center;
        background-color: #6f1a07;
        padding: 7px 5px;
        border: solid thin #f7f3e3;
        border-collapse: collapse;
        float: left;
        border-top-right-radius: 20px;
        margin-left: 25px;
      }

      #main > li:last-child {
        margin-right: 25px;
      }

      #main li > ul {
        position: absolute;
        width: 100%;
        top: 100%;
        /* left: 8; */
        display: none;
        background-color: #6f1a07;
        transform: translateX(-3.2%);
        z-index: 1000;
      }

      #main ul {
        list-style-type: none;
        list-style-position: inside;
        margin: 0;
        padding: 20px;
      }

      #main ul li {
        /* width: 100px; */
        text-align: center;
        background-color: #a8763e;
        padding: 10px;
        border: solid thin #f7f3e3;
        border-collapse: collapse;

      }

      #main > li:hover > ul {
        display: block;
      }

      a {
        text-decoration: none;
        font-family: kanit;
        color: #ecf0f1;
      }

      header a:hover {
        color: #2b2118;
        font-weight: bold;
      }
      /* Navbar Styles */