h2 {
  margin-top: 15px;
  font-size: 2em;
  margin-bottom: 15px;
}

h5 {
  font-weight: bold;
}

#feedbackFormContainer {
  display: flex;
  justify-content: center;
  font-family: kanit;
  background-color: #ecf0f1;
  padding-bottom: 20px;
}

#feedbackFormCard {
  width: 800px;
  text-align: center;
  background-color: #bd803b;
}

.radioContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#feedbackSubmitBtn {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  background-color: #6f1a07;
  color: #ecf0f1;
  font-weight: bolder;
}
