* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
Body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecf0f1;
}

#logo {
  width: 300px;
}

#title {
  margin-right: auto;
  color: #6f1a07;
  font-size: 3.5em;
  transform: translateX(-35px);
  font-family: kanit;
} 

/* Footer styles */
footer {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

footer {
  background-color: #ecf0f1;
  font-family: kanit;
  
}
.footerContainer {
  width: 100%;
  padding: 70px 30px 20px;
}
.socailIcons {
  display: flex;
  justify-content: center;
}
.socailIcons a {
  text-decoration: none;
  background-color: #6f1a07;
  margin: 20px;
  border-radius: 50%;
  color: white;
  padding: 7px;
}
.socailIcons a:hover {
  background-color: #bd803b;
  transition: 0.5s;
  opacity: 1;
}
.socailIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
}
.footerNav ul li a {
  color: #6f1a07;
  margin: 20px;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.1s;
}
.footerNav ul li a:hover {
  opacity: 1;
  color:#bd803b;
}
.footerBottom {
  background-color: #ecf0f1;
  padding: 2px;
  text-align: center;
}
.footerBottom p {
  color: #6f1a07;
}
ul {
  color: #ecf0f1;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socailIcons{
  display: flex;
  justify-content: center;
  
}
.socailIcons a{
  text-decoration: none;
  padding: 10px;
  background-color:#6f1a07;
  margin: 10px;
  border-radius: 50%;
  color: white;
}
.socailIcons a:hover{
  background-color: #bd803b;
  transition: 0.5s;
  opacity: 1;
}
.socailIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
 
}
.footerNav ul li a{
  color: #6f1a07;
  margin: 20px;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.1s;
}
.footerNav ul li a:hover{
  opacity: 1;
  color:#bd803b;
}
.footerBottom{
  background-color: #ECF0F1;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: #6f1a07;
}
ul{color: #ECF0F1;}
footer{
  background-color: #ECF0F1;
}

