.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #ecf0f1; */
  background-color: #F7F3E3;
}

#logo {
  width: 200px;
}

#title {
  margin-right: auto;
  color: #6f1a07;
  font-size: 3.5em;
  transform: translateX(-35px);
}

.nav-container {
  list-style: none;
  display: flex;
}

.nav-item {
  margin: 0px 15px;
  background-color: #6f1a07;
  /* color: #f7f3e3; */
  color: #ECF0F1;
  padding: 5px;
  border-top-right-radius: 8px;
}

main {
  background-color: #bd803b;
}

.nav-item:hover {
  background-color: #bd803b;
  cursor: pointer;
}

/* Dropdown styles */

ul {
  overflow: hidden;
  list-style-type: none;
  padding: 0px;
}

li a,
.dropDownBtn {
  color: white;
  text-align: center;
  padding: 7px 16px;
}

li.dropdown {
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #bd803b;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Make the dropdowns align with their parent */
.dropdownContent:nth-child(2) {
    max-width: 154px;
    transform: translateX(-5px);
}

#modernGameDropdown {
    max-width: 233px;
    transform: translateX(-5px);
}

#indieGameDropdown {
    max-width: 116px;
    transform: translateX(-5px);
}


.dropdownContent a {
  display: block;
}

.dropdownContent a:hover {
  background-color: #6f1a07;
}

li.dropdown:hover .dropdownContent {
  display: block;
}

a {
    text-decoration: none;
}
.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socailIcons{
  display: flex;
  justify-content: center;
  
}
.socailIcons a{
  text-decoration: none;
  padding: 10px;
  background-color:#6f1a07;
  margin: 10px;
  border-radius: 50%;
  color: white;
}
.socailIcons a:hover{
  background-color: #bd803b;
  transition: 0.5s;
  opacity: 1;
}
.socailIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 30px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
 
}
.footerNav ul li a{
  color: #6f1a07;
  margin: 20px;
  text-decoration: none;
  font-size: 1em;
  opacity: 0.7;
  transition: 0.1s;
}
.footerNav ul li a:hover{
  opacity: 1;
  color:#bd803b;
}
.footerBottom{
  background-color: #ECF0F1;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: #6f1a07;
}
ul{color: #ECF0F1;}
footer{
  background-color: #ECF0F1;
}
